<div class="col-md-12 backgoundMain" data-ng-controller="HomeController">


            <h1 style="margin-top: 40px; font-family: 'Ewert', cursive;">CMCLLC</h1>
            <h6 class="secondheader">Creative Monster Consulting</h6>
            <h3 class="fourthheader">BUSINESS MANAGEMENT &amp; WEB CONSULTING</h3> 
                    
            <p>
           
              <span class="text-info">Web &amp; Technology Solutions<br></span>
              Website Design
              <span class="text-info">&diams;</span>Application Development
              <span class="text-info">&diams;</span>Targeted Advertising 
              <span class="text-info">&diams;</span> Online Branding 
              <span class="text-info">&diams;</span> Process Automation
              <span class="text-info">&diams;</span> Social Media Integration
              <span class="text-info">&diams;</span> Productivity Tools
              <br>
              <br> 
              <span class="text-info">Business Management &amp; Operations</span><br>
              Data Collection 
              <span class="text-info">&diams;</span> Performance Analysis 
              <span class="text-info">&diams;</span> Operational Efficiency
              <span class="text-info">&diams;</span> Market Research
              <span class="text-info">&diams;</span> New Customer Acquistion
              <span class="text-info">&diams;</span> Growth Strategies
              <span class="text-info">&diams;</span> Advertising &amp; Marketing 
            </p>
            <br>
            
            <ul class="masthead-links">
              <li><a href="mailto:th@creativemonsterconsulting.com" target="_blank" title="th@creativemonsterconsulting.com">Email Us</a></li><br><br>
              <li>&copy;2014 CMC, LLC. </li>
            </ul>

</div>