<section class="col-md-12 backgoundMain"  data-ng-controller="HomeController">
  <h1 style="margin-top: 40px; font-family: 'Ewert', cursive;">CMCLLC</h1>
  <h6 class="secondheader">Creative Monster Consulting</h6>
  <h3 class="fourthheader">BUSINESS MANAGEMENT &amp; WEB CONSULTING</h3> 
          
  <p>
 
    <span class="text-info">Web &amp; Technology Solutions<br></span>
    Website Design
    <span class="text-info">&diams;</span>Application Development
    <span class="text-info">&diams;</span>Targeted Advertising 
    <span class="text-info">&diams;</span> Online Branding 
    <span class="text-info">&diams;</span> Process Automation
    <span class="text-info">&diams;</span> Social Media Integration
    <span class="text-info">&diams;</span> Productivity Tools
    <br>
    <br> 
    <span class="text-info">Business Management &amp; Operations</span><br>
    Data Collection 
    <span class="text-info">&diams;</span> Performance Analysis 
    <span class="text-info">&diams;</span> Operational Efficiency
    <span class="text-info">&diams;</span> Market Research
    <span class="text-info">&diams;</span> New Customer Acquistion
    <span class="text-info">&diams;</span> Growth Strategies
    <span class="text-info">&diams;</span> Advertising &amp; Marketing 
  </p>
  <br>
  <p class="masthead-links">
    <a href="mailto:th@creativemonsterconsulting.com" target="_blank" title="th@creativemonsterconsulting.com">Email Us</a>&nbsp;&nbsp;&nbsp; &copy;2014 CMC, LLC.&nbsp;&nbsp;&nbsp;<a href="http://www.timheneroty.com/#!/web" target="_blank">Portfolio</a>
  </p>
  
<!--<ul class="masthead-links">
    <li><a href="mailto:th@creativemonsterconsulting.com" target="_blank" title="th@creativemonsterconsulting.com">Email Us</a></li><br><br>
    <li>&copy;2014 CMC, LLC. </li><br><br>
    <li><a href="http://www.timheneroty.com/#!/web" target="_blank">Portfolio</a></li>
  </ul>
-->
</section>

<!-- SVG DETAILS -->
  <svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'>
    <rect width='8' height='8' fill='#F6F6F6'/>
    <path d='M0 0L8 8ZM8 0L0 8Z' stroke-width='1' stroke='#D9D8DF'/>
  </svg>

<!-- SVG OUTPUT (BACKGROUND PATTERN) -->
<section id="demo" class="col-md-12 text-center">
  <h3>We are pleased to offer solutions for businesses and nonprofits.</h3>
    <div class="row">
      <div class="col-md-3 col-centered">
        <h3>Get Started!</h3>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="highlight">
        <h2>Attention Grabbing Websites</h2>
        <i class="fa fa-desktop fa-5x"></i><br>
        <small>Multiple pages, Custom Graphics, Informational, Interactive, Video Hosting, Social Media Integration,  Manage Your Own Content (Posting), Applications, and More.</small>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="highlight">
        <h2>Custom Advertising &amp; Marketing</h2>
        <i class="fa fa-fire fa-5x"></i><br>
        <small>Targeted Online Ad Campaigns, Social Media Marketing, Print Materials including: Postcards, Brochures, Business Cards, Posters, Magnets, Stickers</small>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="highlight">
        <h2>Business Strategy &amp; Growth, Efficiency</h2>
        <i class="fa fa-gears fa-5x"></i><br>
        <small>New Customer Acquisition, Operational Efficiency, Financial Modeling, Expansion Options, Human Resources Assistance, Data Analysis, Cost Management, Strategic Planning,  New Business Growth</small>
      </div>
    </div>
</section>

<section class="col-md-12 pull-left d2">
  <h3>Websites</h3>
  <h5>Custom websites specified to your needs.  Everyone should have one! Professional design starts here.</h5>
    <div class="row" align="center">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subDescription">
        <h2>Graphics &amp; Photography</h2>
        <h6>Custom graphics and photography, content writing</h6>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subDescription">
        <h2>Layouts</h2>
        <h6>From Basic landing pages, to multi-page layouts</h6>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subDescription">
        <h2>Feature Rich</h2>
        <h6>Messages from management, employee profiles, showcases, awards, and portfolios, hours of operation, and more.</h6>
      </div>  
    </div>   
  <hr>
  <h3>Web-based Applications</h3>
  <h5>Want to interact with your website?  Features are Customized to Your Needs</h5>
  <div class="row" align="center">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 subDescription">
      <h2>Interaction</h2>
      <h6>
        <ul style="list-style-type: none;">
          <li>Content Management Systems (Manage your own website content publishing... News updates, blog post, etc)</li>
          <li> Keep Private Lists / Databases (Client Records, Notes, Eployee Profiles, Job Notes, Etc.</li>
          <li>Login Authentication Systems</li>
        <ul>
      </h6>
    </div> 
  </div>
  <hr>
  <h3>Targeted Online Advertising</h3>
  <h5>Leveraging the largest technology company in the world, we utilize Google Adwords to design, implement, and manage advertising campaigns that are targeted to clients you are trying to reach, and not just throwing money into the air.  You will be able to track and adjust your campaigns based on metrics showcasing the result of your campaigns.  We aide you throughout the process to ensure you are advertising effectively and seeing the returns you desire.</h5>
  <hr>
  <h3>Social Media Marketing, Customer Interaction</h3>
  <h5>Businesses cannot skip social interaction.  Not only does that mean engaging with existing customers, but it means having a broad social presence with positive energy, and one that is also far reaching.  Depending on your business, there are a range of social media outlets availabe to send out updates, communicate to clients, and reach new audiences.  Think you have your business' online presence covered?  Talk to us and we can walk you through our checklist of the outlets we strategically use and our best use cases.</h5>
  <hr>
  <h3>Print Materials, Print Ads</h3>
  <h5>Online is great but a post card, poster, print-out, flyer, and business card still go a long way.  We design custom logos and print materials to support all your business needs.  More importantly, we coordinate your marketing and advertising across all platforms, whether it's print of digitial.  Portray a consistent and evolving fresh image to clients.  It's crucual!  Let us help getting you started on your online branding today!</h5>
  <hr>

</section>




<footer class="col-md-12" style="background-color: black; padding: 12px;">
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    <h4>How it Works</h4>
    <ul>
      <li><a href="#">Getting Started</a></li>
      <li><a href="#">Identifying Needs</a></li>
      <li><a href="#">Researching Options</a></li>
      <li><a href="#">How to </a></li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    <h4>Documentation</h4>
    <ul>
      <li><a href="#">Glossary</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Maintenance Costs</a></li>
      <li><a href="#">Project Pricing</a></li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    <h4>Information</h4>
    <ul>
      <li><a href="#">List</a></li>
      <li><a href="#">List</a></li>
      <li><a href="#">List</a></li>
      <li><a href="#">List</a></li>
    </ul>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    <h4>CM Consulting</h4>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Referral Program</a></li>
      <li><a href="#">Vacancies</a></li>
      <li><a href="#">Contact &amp; Support</a></li>
      <li><a href="#">Press</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
  
  
</footer>