<div data-ng-controller="HomeController">
<section class="row">
    
    <!-- main masthead  -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="centerpiece masthead">
          <div class="container">
            <h1>CMCLLC</h1>
            <h6 class="secondheader">Creative Monster Consulting</h6><!-- CUSTOM | SCALABLE | CLOUD-BASED -->
            <h4 class="thirdheader">PITTSBURGH, PA  15215 (412) 447 - 8555</h4>
            <h3 class="fourthheader">BUSINESS MANAGEMENT &amp; IT CONSULTING</h3> <!--Web &amp; Mobile
            <br>
            <h4 class="thirdheader"> </h4> <br>-->  <!-- APPLICATION DEVELOPMENT -->
                    
            
            <!-- Operational Efficiency | Growing Profit | Reducing Cost Savings | Building Brands Online | + more-->
            <span class="text-info">Technology Solutions<br></span>
            Website Design
            <span class="text-info">&diams;</span>Application Development
            <span class="text-info">&diams;</span>Targeted Advertising 
            <span class="text-info">&diams;</span> Online Branding 
            <span class="text-info">&diams;</span> Process Automation
            <span class="text-info">&diams;</span> Social Media Integration
            <span class="text-info">&diams;</span> Productivity Tools
            <br>
            <br> 
            <span class="text-info">Management &amp; Operations</span><br>
            Data Collection 
            <span class="text-info">&diams;</span> Performance Analysis 
            <span class="text-info">&diams;</span> Operational Efficiency
            <span class="text-info">&diams;</span> Market Research
            <span class="text-info">&diams;</span> New Customer Acquistion
            <span class="text-info">&diams;</span> Growth Strategies
            <span class="text-info">&diams;</span> Advertising &amp; Marketing 
            <br>
            <br>
            <!-- We have unique ways to help you improve.<br />
            <b>A</b>ttention to detail, quality of work, and effiecient use of time and financial resources are also very important to us.-->
            <!-- <a href="mailto:th@creativemonsterconsulting.com" target="_blank" title="th@creativemonsterconsulting.com">Contact us</a> --></p>
            
            <ul class="masthead-links">
              <!-- <li><a ui-sref="#">Current Projects</a></li>
              <li><a ui-sref="#">Portfolio Examples</a></li> -->
              <li><a href="mailto:th@creativemonsterconsulting.com" target="_blank" title="th@creativemonsterconsulting.com">Email Us</a></li><br><br>
              <li>&copy;2014 CMC, LLC. </li>
            </ul>
          </div>
        </div>
    </div>

    <section class="col-md-7 whoWeAre">
        <h4>A Business Mindset and Technology Toolset</h4>
        <h6>WHO WE ARE</h6>
        <p>We help manage and grow businesses both internally and externally through improvement of operations, increasing productivity with brand establishment, development and nurture of a healthy web presence, targeted digital advertising and marketing strategies, and connection of your brand with public audiences via social media.<br><br>
        Our philosphy is to provide 360 degree analysis and advisory so that we can implement clearly defined strategies and make the impacts you desire but are unsure how to obtain.  Let us consult you for free and discuss ideas on how to get started.<br><br>
        Call <a href="tes:+1412447-8555">(412)447-8555</a>.
        <br>

        </p>
    </section>
    <section class="col-md-4 whatWeDo">
        <h4>WHAT WE DO</h4>
        <ul>
          <li>Web-based Application Development</li>
          <li>Web-based Database Application Development</li>
          <li>Non-profit, Grant-funded Life Cycle Projects</li>
          <li>Technical and System Support</li>
          <li>Mobile Responsive Websites</li>
          <li>Content Management Systems (Custom, Wordpress, Joomla)</li>
          <li>Custom Graphics and Photography</li>
          <li>Web Application Hosting</li>
          <li>Complex User Interface Design (UIX)</li>
          <li>AdWords and Digital Advertising Campaigns</li>
          <li>Harnessing Social Media</li>
          <li>Operational analysis</li>
          <li>Profit growth consulting</li>
          <li>Cost Efficiency Consulting</li>
          <li>Financial Planning, Budgeting, and ROI's</li>
          <li>Key Performance Indicators, Analysis setup, Performance tracking</li>
        </ul>
    </section>
</section>
<br>
<!-- <hr>

<section class="col-md-12 portfolioExamples">
  <h2>Portfolio of Projects</h2>
  <div class="example" ng-repeat="project in projects">
      <img src="{{project.img}}" style="position: inherit; float:right;">
      <h4>{{project.company}}</h4>
      <h6><i class="fa fa-link fa-2x"></i>&nbsp;<a href="{{project.url}}" target="_blank">{{project.url}}</a></h6>
      <p>{{project.desc}}</p>
      <h6><i class="fa fa-cogs fa-2x"></i>&nbsp;<i>Technologies</i>:</h6>
      <table>
          <tr><td><i class="fa fa-caret-right"></i>&nbsp;{{project.t1}}</td></tr>
          <tr><td><i class="fa fa-caret-right"></i>&nbsp;{{project.t2}}</td></tr>
          <tr><td><i class="fa fa-caret-right"></i>&nbsp;{{project.t3}}</td></tr>
          <tr><td><i class="fa fa-caret-right"></i>&nbsp;{{project.t4}}</td></tr>
          <tr><td><i class="fa fa-caret-right"></i>&nbsp;{{project.t5}}</td></tr>
      </table>
  </div>
</section> -->
         <!--    <ul class="masthead-links" data-ng-hide="authentication.user">
             <li ui-route="/signup" ng-class="{active: $uiRoute}"><a href="/#!/signup">Signup</a></li>
             <li class="divider-vertical"></li>
             <li ui-route="/signin" ng-class="{active: $uiRoute}"><a href="/#!/signin">Customer Log-in</a></li>
         </ul>
         <ul class="masthead-links dropup" data-ng-show="authentication.user">
             <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                     {{authentication.user.displayName}} <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li><a href="/#!/settings/profile">Edit Profile</a></li>
                     <li><a href="/#!/settings/accounts">Manage Social Accounts</a></li>
                     <li data-ng-show="authentication.user.provider === 'local'">
                         <a href="/#!/settings/password">Change Password</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="/auth/signout">Signout</a></li>
                 </ul>
             </li>
         </ul> -->
</div>
            <hr>